html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--background-color);
}

.page-wrapper {
  flex: 1 0 auto;
}

main {
  margin: 75px 0;
}

li {
  background-color: #121010!important;
  border-bottom: solid var(--border-color) 0.5px!important;
}

 .list-container__list--no-border {
  border-bottom: 0!important;
}

.carousel-item {
  background-size: cover;
  background-position: center center;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--border-color)!important;
}

.carousel-inner {
  max-height: 700px;
}

footer {
  background-color: var(--nav-color);
  display: flex;
  flex-shrink: 0;
}