.navbar-brand {
	font-family: var(--header-font);
	font-size: 32px;
}

.navbar {
	background-color: var(--nav-color) !important;
	color: white;
	text-transform: uppercase;
	padding: 0 100px!important;
}

.nav-link {
	font-family: var(--body-font);
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
	font-size: 15px;
}

.navbar-dark .navbar-nav .active > .nav-link {
	color: var(--primary-color);
}

.navbar-collapse {
	z-index: 1;
}

