body {
  color: var(--body-font-color);
}

h1 {
  color: var(--primary-color);
}

.main-container__heading-one {
  font-family: var(--header-font);
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-link {
  font-size: 1.2rem!important;
}

.active {
  color: var(--primary-color)!important;
}