:root {
	--background-color: #393939;
	--primary-color: #f80e68;
	--primary-color-hover: #f54b8d;
	--nav-color: #262525;
	--background-dark: rgba(0, 0, 0, 0.5);
	--body-font-color: #fff;
	--border-color: #fff;
	--footer-font-color: #8D8D8D;

	--header-font: 'IBM Plex Mono', monospace;
	--body-font: 'IBM Plex Sans', sans-serif;
}